<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body{
        background: #000;
        margin: 0;
      }
      canvas {
        display: block;
        width: 640px;
        height: 480px;
        margin-top: calc(50vh - 240px);
        margin-right: auto;
        margin-left: auto;
      }
    </style>
  </head>
  <body>
  </body>
</html>
